@model IEnumerable<EFDemoProject.Domain.Core.Entities.User>

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	Page.Title = "Главная страница";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            Задачи
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
        <ul>
            @foreach (var issue in item.Issues)
            { 
                <li>  
                    @Html.DisplayFor(modelIssue => issue.Title)
                    @Html.DisplayFor(modelIssue => issue.Description)
                </li>
            }

        </ul>
        </td>
    </tr>
}
    
</table>